In [1]:
country='United State of America'
for ch in country:
    if ch.isupper():
        print(ch)

U
S
A

In [1]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list(range(2000,2050,4))

[2000, 2004, 2008, 2012, 2016, 2020, 2024, 2028, 2032, 2036, 2040, 2044, 2048]

In [5]:
total=0
for i in range(1,101):
    total=total+i
total

5050

In [9]:
values=[4,10,3,8,-6]
for num in values:
    num=num*2
print(num)#if not print in the loop it is a number
values

-12

[4, 10, 3, 8, -6]

In [19]:
values=[4,10,3,8,-6]
for i in range(len(values)):
    values[i]=values[i]*2
values

[8, 20, 6, 16, -12]

In [11]:
metals=['Li','Na','K']
weights=[6.941,22.989,39.098]
for i in range(len(metals)):
    print(metals[i],weights[i])

Li 6.941
Na 22.989
K 39.098

In [12]:
outer=['Li','Na','K']
inner=['F','Cl','Br']
for metal in outer:
    for halogen in inner:
        print(metal+halogen)

LiF
LiCl
LiBr
NaF
NaCl
NaBr
KF
KCl
KBr

In [29]:
def print_table(n):
    numbers=list(range(1,n+1))#from 1 to n not include n+1
    for i in numbers:#print the header row
        print('\t'+str(i),end='')
    print()#end of the header row
    #print each row number and the contents of each row
    for i in numbers:
        print(i,end='')
        for j in numbers:
            print('\t'+str(i*j),end='')
        print()#end of the current
print_table(5)

	1	2	3	4	5
1	1	2	3	4	5
2	2	4	6	8	10
3	3	6	9	12	15
4	4	8	12	16	20
5	5	10	15	20	25

In [14]:
list(range(1,4))

[1, 2, 3]

In [16]:
a=range(1,4)
a

range(1, 4)

In [24]:
#制表符的写法是\t，作用是对齐表格的各列。
print("学号\t姓名\t语文\t数学\t英语")
print('\t'+"2017001""\t曹操\t99\t\t88\t\t0")
print("2017002\t周瑜\t92\t\t45\t\t93")
print("2017008\t黄盖\t77\t\t82\t\t100")

学号	姓名	语文	数学	英语
	2017001	曹操	99		88		0
2017002	周瑜	92		45		93
2017008	黄盖	77		82		100

In [31]:
elements=[['Li','Na','K'],['F','Cl','Br']]
for inner_list in elements:
    print(inner_list)

['Li', 'Na', 'K']
['F', 'Cl', 'Br']

In [32]:
for inner_list in elements:
    for item in inner_list:
        print(item)

Li
Na
K
F
Cl
Br

In [35]:
info = [['Isaac Newton', 1643, 1727],
       ['Charles Darwin', 1809, 1882],
       ['Alan Turing', 1912, 1954, 'alan@bletchley.uk']]
for item in info:
    print(len(item))

3
3
4

In [37]:
drinking_times_by_day = [["9:02", "10:17", "13:52", "18:23", "21:31"],
                          ["8:45", "12:44", "14:52", "22:17"],
                          ["8:55", "11:11", "12:34", "13:46",
                           "15:52", "17:08", "21:15"],
                          ["9:15", "11:44", "16:28"],
                          ["10:01", "13:33", "16:45", "19:00"],
                          ["9:34", "11:16", "15:52", "20:37"],
                          ["9:01", "12:24", "18:51", "23:13"]]
for day in drinking_times_by_day:
    for drinking_time in day:
        print(drinking_time,end='')
        #
    print()

9:0210:1713:5218:2321:31
8:4512:4414:5222:17
8:5511:1112:3413:4615:5217:0821:15
9:1511:4416:28
10:0113:3316:4519:00
9:3411:1615:5220:37
9:0112:2418:5123:13

In [38]:
time=0
population=1000
growth_rate=0.21
while population<2000:
    population=population+growth_rate*population
    print(round(population))
    time=time+1
print("It took",time,"minutes for the vacteria to double.")
print("The final population was",round(population),"bacteria.")

1210
1464
1772
2144
It took 4 minutes for the vacteria to double.
The final population was 2144 bacteria.

In [4]:
s='C3H7'
digit_index=-1
for i in range(len(s)):
    if digit_index==-1 and s[i].isdigit():
        digit_index=i
digit_index
#For example, let’s write some code to find the index of the 
#first digit in string 'C3H7'. The digit 3 is at index 1 in 
#this string. Using a for loop, we would have to write 
#something like this

1

In [5]:
total=0
count=0
for i in range(len(s)):
    if s[i].isalpha():
        continue
    total=total+int(s[i])
    count=count+1
total
count

2

Exercise

In [6]:
#1
celegans_phenotypes=['Emb', 'Him', 'Unc', 'Lon', 'Dpy', 'Sma']
for item in celegans_phenotypes:
    print(item)

Emb
Him
Unc
Lon
Dpy
Sma

In [8]:
#2
half_lives= [87.74, 24110.0, 6537.0, 14.4, 376000.0]
for item in half_lives:
    print(item)

87.74
24110.0
6537.0
14.4
376000.0

In [34]:
#3
more_whales=[]
whales=[5,4,7,3,2,3,2,6,4,2,1,7,1,3]

for count in whales:
    more_whales.append(count+1)
more_whales

[6, 5, 8, 4, 3, 4, 3, 7, 5, 3, 2, 8, 2, 4]

for i in range(len(whales)):    
    more_whales[i]=whales[i]+1
why the previous code dose not work?

When you start, you've initialized `more_whales` to be an 
empty list with no entries in it.  So, when you try to store 
something at `more_whales[0]` the first time through the loop, 
it fails because that is past the end of the list.  
Remember that `more_whales` is a list with length 0.  
To extend a list past its current length, you have to use
append().  So, you'd want to say something like 
`more_whales.append( whales[i] + 1 )`.

In [35]:
#4
alkaline_earth_metals = [[4, 9.012], [12, 24.305],
[20, 40.078], [38, 87.62],
[56, 137.327], [88, 226]]

In [37]:
for metal in alkaline_earth_metals:
    print(metal[0])
    print(metal[1])

4
9.012
12
24.305
20
40.078
38
87.62
56
137.327
88
226

In [39]:
number_and_weight=[]
for metal in alkaline_earth_metals:
    number_and_weight.append(metal[0])
    number_and_weight.append(metal[1])
number_and_weight

[4, 9.012, 12, 24.305, 20, 40.078, 38, 87.62, 56, 137.327, 88, 226]

In [42]:
#5
def mystery_function(values): 
    """
    Return a copy of the list, values, and the sublists it contains.
    The top-level sublists have their elements reversed in the returned
    list.  
    mystery_function([[1,2,3],[3,4,5]])
    [[3, 2, 1], [5, 4, 3]
    """
    result = []
    for sublist in values: 
        result.append([sublist[0]])
        #make sure append a list, if it changed to result.append(sublist[0])
        #it will become [1] not [[1]]
        for i in sublist[1:]:
            result[-1].insert(0, i)
    return result

values=[[1,2,3],[3,4,5]]
mystery_function(values)

[[3, 2, 1], [5, 4, 3]]

In [55]:
b=[]
a=[[1,2,3],[3,4,5]]
b.append(a[0][0])
result=[[1,1],[2,3]]
result[-1].insert(0,2)
result

[[1, 1], [2, 2, 3]]

In [58]:
#6
text = ""
while text.lower() != "quit":
    text = input("Please enter a chemical formula (or 'quit' to exit): ") 
    if text.lower() == "quit":
        print("...exiting program") 
    elif text == "H2O":
        print("Water") 
    elif text == "NH3":
        print("Ammonia") 
    elif text == "CH4":
        print("Methane") 
    else:
        print("Unknown compound")

Please enter a chemical formula (or 'quit' to exit): QUIT
...exiting program

In [59]:
#7
country_populations = [1295, 23, 7, 3, 47, 21]
total=0
for population in country_populations:
    total=total+population
total

1396

In [61]:
#8
rat_1=[15,2,3,4,5,6,7.2,8,9,10]
rat_2=[2.2,7,8,3,5,7,9,11,12,13]
for i in range(len(rat_1)):
    if rat_1[i]>rat_2[i]:
        print("Rat 1 weighed more than rat 2 on day 1.")
    else:
        print("Rat 1 weighed less than rat 2 on day 1.")

Rat 1 weighed more than rat 2 on day 1.
Rat 1 weighed less than rat 2 on day 1.
Rat 1 weighed less than rat 2 on day 1.
Rat 1 weighed more than rat 2 on day 1.
Rat 1 weighed less than rat 2 on day 1.
Rat 1 weighed less than rat 2 on day 1.
Rat 1 weighed less than rat 2 on day 1.
Rat 1 weighed less than rat 2 on day 1.
Rat 1 weighed less than rat 2 on day 1.
Rat 1 weighed less than rat 2 on day 1.

In [64]:
#a
if rat_1[i]>rat_2[i]:
    print("Rat 1 weighed more than rat 2 on day 1.")
else:
    print("Rat 1 weighed less than rat 2 on day 1.")

Rat 1 weighed less than rat 2 on day 1.

In [63]:
#b

if rat_1[0]>rat_2[0] and rat_1[-1]>rat_2[-1]:
    print("Rat 1 remained heavier than Rat 2.")
else:
    print("Rat 2 became heavier than Rat 1.")

Rat 2 became heavier than Rat 1.

In [65]:
#9
for num in range(33,50):
    print(num)

33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [70]:
#10
for num in range(0,11):
    print(10-num,end='')#end='' not change row only add space

109876543210

In [72]:
#11
total=0
count=0
for num in range(2,23):
    total=total+num
    count=count+1
avg=total/count
avg

12.0

In [87]:
#12
def remove_neg(num_list):
    """ (list of number) -> NoneType
        Remove the negative numbers from the list num_list.
        >>> numbers = [-5, 1, -3, 2]
        >>> remove_neg(numbers)
        >>> numbers
        [1, 2]
    """
    index=0
    while index<len(num_list):
        if num_list[index] < 0:
            del num_list[index]
        else:
            index+=1
    return num_list
#while loop only increase the index when it ask to do it.

In [ ]:
def remove_negative(num_list):  
    for ind in rangle(len(list)):
        if list[ind]<0:
            list.pop(ind)
            ind+=1

In [5]:

def remove_negative(num_list):
    L=[]
    for i in range(len(num_list)):
        if num_list[i]>0:
            L.append(num_list[i])
            i+=1
        else:
            i+=1
    return L

In [6]:
remove_negative([1,2,-3,-4,-6,8,9])

[1, 2, 8, 9]

In [89]:
remove_neg([-5, 1, -3, 2])
remove_neg([1, 2, 3, -3, 6, -1, -3, 1])

[1, 2, 3, 6, 1]

In [1]:
#13
i=1
while i<8:
    print('T'*i)
    i+=1

T
TT
TTT
TTTT
TTTTT
TTTTTT
TTTTTTT

In [14]:
#14
i=1
while i<8:
    print(' '*(7 - i), 'T'*i, sep='')
    i+=1

      T
     TT
    TTT
   TTTT
  TTTTT
 TTTTTT
TTTTTTT

In [15]:
#15
for i in range(1,8):
    print('T'*i)

T
TT
TTT
TTTT
TTTTT
TTTTTT
TTTTTTT

In [17]:
for i in range(1,8):
    print(' '*(7-i),'T'*i,sep='')

      T
     TT
    TTT
   TTTT
  TTTTT
 TTTTTT
TTTTTTT

In [23]:
#16
rat_1_weight=10
rat_2_weight=12
rat_1_rate=0.04
rat_2_rate=0.1
weight=rat_1_weight
count=0
while weight<rat_1_weight*1.25:
    weight=weight*(1+rat_1_rate)
    count+=1
weight
count

6

In [26]:
rat_1_weight=10
rat_2_weight=10
rat_1_rate=0.08
rat_2_rate=0.04
weight=rat_1_weight
count=0
while weight<rat_2_weight*1.1:
    weight=weight*(1+rat_1_rate)
    count+=1
weight
count

2