In [3]:
vowels={'a','e','i','o','u','u'}
vowels

{'a', 'e', 'i', 'o', 'u'}

In [5]:
set([2,3,2,5])

{2, 3, 5}

In [6]:
set(vowels)

{'a', 'e', 'i', 'o', 'u'}

In [7]:
set(range(5))

{0, 1, 2, 3, 4}

In [9]:
vowels.add('y')

In [5]:
ten=set(range(10))
lows={0,1,2,3,4,12}
odds={1,3,5,7,9}
lows.add(9)
lows
lows.difference(odds)

{0, 2, 4, 12}

In [6]:
lows.intersection(odds)
lows.issubset(ten)
#lows.issuperset(odds)

False

In [7]:
lows.symmetric_difference(odds)
#lows.union(odds)
#lows.clear()
#lows

{0, 2, 4, 5, 7, 12}

In [8]:
lows = set([0, 1, 2, 3, 4])
odds = set([1, 3, 5, 7, 9])
lows-odds
lows & odds
lows <= odds
lows >= odds
lows | odds
lows ^ odds

{0, 2, 4, 5, 7, 9}

In [10]:
lows

{0, 1, 2, 3, 4}

In [9]:
observations_file=open('observations.txt')

In [10]:
birds_observed=set()
for line in observations_file:
    bird=line.strip()
    birds_observed.add(bird)

In [11]:
birds_observed

{'canada goose', 'long-tailed jaeger', 'northern fulmar', 'snow goose'}

In [4]:
for species in birds_observed:
    print(species)

snow goose
northern fulmar
long-tailed jaeger
canada goose

In [8]:
life = (['Canada', 76.5], ['United States', 75.5], ['Mexico', 72.0])
#life[0] =life[1]#error
life[0][1]=80
life

(['Canada', 80], ['United States', 75.5], ['Mexico', 72.0])

In [9]:
canada = ['Canada', 76.5]
usa = ['United States', 75.5]
mexico = ['Mexico', 72.0]
life=(canada,usa,mexico)

In [11]:
mexico=['Mexico',100]
life=(canada,usa,mexico)
life

(['Canada', 76.5], ['United States', 75.5], ['Mexico', 100])

In [16]:
a=()
type(a)
a=(8,)#need the , otherwise it is a int
type(a)
b=(8)
type(b)

int

In [34]:
s1='first'
s2='second'
s1,s2=s2,s1
s1

'second'

In [35]:
bird_counts=[]

In [36]:
bird_counts

0

In [48]:
bird_to_observations={'canada goose':3,'northern fulmar':1}
b='northern fulmar'
bird_to_observations[b]

1

In [42]:
bird_to_observations['northern fulmar']
for bird in bird_to_observations:
    print(bird,bird_to_observations[bird])

canada goose 3
northern fulmar 1

In [6]:
bird_to_observation={}
bird='Canada goose'
bird_to_observation[bird]=1
bird_to_observation[bird]

1

In [1]:
f = open('observations.txt')
for line in f:
    bird_counts=[]
    bird = line.strip()
    found = False
    for entry in bird_counts:
        if entry[0] == bird:
            entry[1]=entry[1]+ 1
            found = True
        if not found:
            bird_counts.append([bird, 1])
bird_counts

[]

In [9]:
bird_counts

[]

In [16]:
bird_counts
f=open('observations.txt')
#for line in f:
 #   print(line)

In [15]:
bird_to_observations = {'canada goose': 183, 'long-tailed jaeger': 71,
                           'snow goose': 63, 'northern fulmar': 1}

In [17]:
for bird in bird_to_observations:
    print(bird,bird_to_observations[bird])

northern fulmar 1
long-tailed jaeger 71
canada goose 183
snow goose 63

In [19]:
bird_to_observations.values()

dict_values([1, 71, 183, 63])

In [4]:
observations_file = open('observations.txt')
bird_to_observations = {}
for line in observations_file:
    bird = line.strip()
    if bird in bird_to_observations:
        bird_to_observations[bird] = bird_to_observations[bird] + 1
    else:
            bird_to_observations[bird] = 1
observations_file.close()
bird_to_observations

{'canada goose': 5,
 'long-tailed jaeger': 2,
 'northern fulmar': 1,
 'snow goose': 1}

In [3]:
observations_file = open('observations.txt')
bird_to_observations = {}
for line in observations_file:
    bird = line.strip()
    bird_to_observations.setdefault(bird,0)
    bird_to_observations[bird] += 1
observations_file.close()
bird_to_observations

{'canada goose': 5,
 'long-tailed jaeger': 2,
 'northern fulmar': 1,
 'snow goose': 1}

In [4]:
sorted_birds=sorted(bird_to_observations.keys())
for bird in sorted_birds:
    print(bird,bird_to_observations[bird])

canada goose 5
long-tailed jaeger 2
northern fulmar 1
snow goose 1

Invert dictionary

In [5]:
observations_to_birds_list={}
for bird,observations in bird_to_observations.items():
    if observations in observations_to_birds_list:
        observations_to_birds_list[observations].append(bird)
    else:
        observations_to_birds_list[observations]=[bird]
observations_to_birds_list

{1: ['snow goose', 'northern fulmar'],
 2: ['long-tailed jaeger'],
 5: ['canada goose']}

In [10]:
observations_sorted=sorted(observations_to_birds_list.keys())
for obs in observations_sorted:
    print(obs,":", end=" ")
    for bird in observations_to_birds_list[obs]:
        print(" ",bird,end=" ")
    print()#change to another line, end=" " stay in same line

1 :   snow goose   northern fulmar
2 :   long-tailed jaeger
5 :   canada goose

    Exercise

In [25]:
#1
def find_dups(L):
    """
     List->List

    """
    M=[]
    for i in range(len(L1)):
        if L.count(L1[i])>1:
            M.append(L1[i])
    return M
   
find_dups(L)

[1, 2, 3]

In [4]:
#solution 2
def find_dups(L):
    originalset=set()
    dup_set=set()
    for item in L:
        len_initial=len(originalset)
        originalset.add(item)
        len_final=len(originalset)
        if len_initial==len_final:
            dup_set.add(item)
    return dup_set
L=[1,2,2,3,3,3,4,5,7,7,7]
find_dups(L)

{2, 3, 7}

In [11]:
#2
def mating_pairs(M,N):
    """
    M={1,2,3,4}
    N={3,4,5,6}
    ->F{(1,3),(2,4),(3,5),(4,6)}   
    """
    F=set()
    while len(M)>0:
        A=M.pop()
        B=N.pop()
        F.add((A,B))
    return F
M={1,2,3,4}
N={3,4,5,6}
mating_pairs(M,N)

{(1, 3), (2, 4), (3, 5), (4, 6)}

In [17]:
#2 a comprehensive solution if M and N have different length
def mating_pairs(M,N):
    """
    M={1,2,3,4}
    N={3,4,5,6}
    ->F{(1,3),(2,4),(3,5),(4,6)} 
    set,set-> as set of tuple
    """
    F=set()
    if len(M)>=len(N):
        while len(N)>0:
            A=M.pop()
            B=N.pop()
            F.add((A,B))
        while len(M)>0:
            A=M.pop()
            F.add((A,-1)) 
    elif len(M)<len(N):
        while len(M)>0:
            A=M.pop()
            B=N.pop()
            F.add((A,B))
        while len(N)>0:
            B=N.pop()
            F.add((-1,B))       
    return F
M={1,2,3,4}
N={3,4,5,6,8,10}
mating_pairs(M,N)

{(-1, 8), (-1, 10), (1, 3), (2, 4), (3, 5), (4, 6)}

In [9]:
M={1,2,3,4}
N={3,4,5,6}
F=set()
while len(M)>0:
    A=M.pop()
    B=N.pop()
    F.add((A,B))
    
F

{(1, 3), (2, 4), (3, 5), (4, 6)}

In [ ]:
#3
def find_author(filenames):
    author=set()
    for filename in filenames:
        pdb_file=open(filename)
        for line in pdb_file:
            if line.lower().startwith("author"):
                author=line[6:].strip()
                author.add(author)
    return author

In [9]:
S={"red":1,"green":1,"blue":2}  
S=S.values()
set(S)

{1, 2}

In [10]:
#4
def count_values(D):
    S=set()
    values=D.values()
    return len(set(values))
            
S={"red":1,"green":1,"blue":2}  
count_values(S)

2

In [13]:
#5
def least_likely_observed(S):
    for key in S:
        if S[key]==min(list(S.values())):
            return key
D={'neutron': 0.55, 'proton': 0.21, 'meson': 0.03, 'muon': 0.07, 'neutrino': 0.14}
least_likely_observed(D)

'meson'

In [23]:
#6
def count_duplicates(S):
    L=list(S.values())
    S=set()
    for item in L:
        if L.count(item)>1:
            S.add(item)            
    return len(S)
S={"red":1,"green":1,"blue":2,"yellow":2}  
count_duplicates(S)

2

In [26]:
#7
def is_balanced(D):
    value=list(D.values())
    if sum(value)==1:
        return True
    else:
        return False
       
S={"red":0.2,"green":0.2,"blue":0.3} 
is_balanced(S)

In [42]:
#8
def dict_interset(D1,D2):
    L1=list(D1.items())
    L2=list(D2.items())
    D={}
    for item in L1:
        if item in L2:
            D[item[0]]=item[1]
    return D         
dict_interset(D1,D2)

{'blue': 0.3, 'green': 0.2}

In [45]:
#solution 2
def dict_interset(D1,D2):
    S={}
    for key,value in D1.items():
        if key in D2 and value==D2[key]:
            S[key]=value
    return S
dict_interset(D1,D2)

{'blue': 0.3, 'green': 0.2}

In [79]:
S={
'jgoodall' : {'surname' : 'Goodall', 'forename' : 'Jane',
'born' : 1934,
'died' : None,
'notes' : 'primate researcher', 'author' : ['In the Shadow of Man',
'The Chimpanzees of Gombe']}, 'rfranklin' : {'surname' : 'Franklin',
'forename' : 'Rosalind',
'born' : 1920,
'died' : 1957,
'notes' : 'contributed to discovery of DNA'},
'rcarson' : {'surname' : 'Carson', 'forename' : 'Rachel',
             'born' : 1907,
'died' : 1964,
'notes' : 'raised awareness of effects of DDT', 'author' : ['Silent Spring']}}

In [67]:
#9
def db_headings(S):
    #M=set()
    for values in S.values():
        M=set(values.keys())
    return M
            
db_headings(S)

{'author', 'born', 'died', 'forename', 'notes', 'surname'}

In [96]:
#10
def db_consistent(S):
    L=list(S.values())
    for i in range(len(L)):
        #print(values)
        if L[i].keys()==L[i+1].keys():
            return True
        else:
            return False
                
db_consistent(S)

False

dict_keys(['notes', 'born', 'died', 'forename', 'surname'])

In [ ]:
#11

In [140]:
V1=[1, 0, 0, 0, 0, 0, 3, 0, 0, 0]
V2=[4,0,1,2,0,4,0,0,2,0,0]
def sparse_add(V1,V2):
    S1={}
    S2={}
    sum_v={}
    for i in range(len(V1)):
        if V1[i]!=0:
            S1[i]=V1[i]
    for i in range(len(V2)):
        if V2[i]!=0:
            S2[i]=V2[i]
    if len(S1)>=len(S2):
        for key in S1:
            if key in S2:
                sum_v[key]=S1[key]+S2[key]
            else:
                sum_v[key]=S1[key]
                sum_v.update(S2)

    else:
        for key in S2:
            if key in S1:
                sum_v[key]=S1[key]+S2[key]
            else:
                sum_v[key]=S2[key]
                sum_v.update(S1)
    return sum_v

In [141]:
sparse_add(V1,V2)

{0: 1, 2: 1, 3: 2, 5: 4, 6: 3, 8: 2}

In [139]:
V1=[1, 0, 0, 0, 0, 0, 3, 0, 0, 0]
V2=[4,0,1,2,0,4,0,0,2,0,0]
S1={}
S2={}
sum_v={}
for i in range(len(V1)):
    if V1[i]!=0:
        S1[i]=V1[i]
for i in range(len(V2)):
    if V2[i]!=0:
        S2[i]=V2[i]
if len(S1)>=len(S2):
    for key in S1:
        if key in S2:
            sum_v[key]=S1[key]+S2[key]
        else:
            sum_v[key]=S1[key]
            sum_v.update(S2)

else:
    for key in S2:
        if key in S1:
            sum_v[key]=S1[key]+S2[key]
        else:
            sum_v[key]=S2[key]
            sum_v.update(S1)
sum_v
#S1

{0: 1, 2: 1, 3: 2, 5: 4, 6: 3, 8: 2}

{0: 1, 2: 0, 3: 0, 5: 0, 6: 3, 8: 0}

In [144]:
#b only stored the values that are non-zero 
def sparse_dot(V1,V2):
    S1={}
    S2={}
    addition={}
    for i in range(len(V1)):
        if V1[i]!=0:
            S1[i]=V1[i]
    for i in range(len(V2)):
        if V2[i]!=0:
            S2[i]=V2[i]
    if len(S1)>=len(S2):
        for key in S1:
            if key in S2:
                addition[key]=S1[key]*S2[key]
            #else:
                #addition[key]=0
        #for key in S2:
         #   if key not in S1:
                #addition[key]=0
    else:
        for key in S2:
            if key in S1:
                addition[key]=S1[key]*S2[key]

        #for key in S1:
         #   if key not in S2:
          #      addition[key]=0            
    return addition

In [145]:
sparse_dot(V1,V2)

{0: 4}

Since only non-zero entries are stored, will the last entry always be non-zero? If not, how will the last entry be rep