In [1]:
'she said,"that'+"'"+'s hard to read."'

'she said,"that\'s hard to read."'

In [2]:
print('one\ttwo\nthree\tfour')

one	two
three	four

In [4]:
print(1,'two','three',4.0)

1 two three 4.0

In [5]:
print('a','b','c')

a b c

In [7]:
print('a','b','c',sep=',',end='')

a,b,c

In [9]:
def convert_to_celsius(fahrenheit):
    return(fahrenheit-32)*5/9

In [12]:
print('80,78.8,and 10.4 degrees Fahrenheit are equal to',end='')

80,78.8,and 10.4 degrees Fahrenheit are equal to

In [17]:
species=input()

Homo sapiens

In [18]:
species

'Homo sapiens '

In [19]:
population=input()

123456789

In [20]:
population

'123456789'

In [23]:
population=int(population)

In [24]:
population

123456789

In [25]:
species=input("Please enter a species: ")

Please enter a species: Python curtus

In [27]:
print(species)

Python curtus

Exercise

In [31]:
#1
'computer'+'science'  
'Darwin\'s'  
'H2O'*3  
'CO2'*0

''

In [35]:
#2
print("They'll hibernate during the winter")

They'll hibernate during the winter

In [36]:
print('"Absolutely not",he said.')

"Absolutely not",he said.

In [39]:
print('"He said,'+"'Absolutely not,'"+'"'+"recalled Mel")

"He said,'Absolutely not,'"recalled Mel

In [43]:
print("hydrogen sulfide")

hydrogen sulfide

In [44]:
print("left\\right")

left\right

In [49]:
#3
print('A\nB\nC')

A
B
C

In [50]:
#4
st=""
len(st)

0

In [69]:
#5
x=3
y=12.5
print("The rabbit is",x,".")

The rabbit is 3 .

In [70]:
print("The rabbit is",x,"years old.")

The rabbit is 3 years old.

In [67]:
print(y,"is average.")

12.5 is average.

In [71]:
print(y,"*",x)

12.5 * 3

In [72]:
print(y,"*",x,"is",x*y)

12.5 * 3 is 37.5

In [73]:
#6
first='John'
last='Doe'
print(last+','+first)

Doe,John

In [75]:
#7
a=input()
num=float(a)
print(num)

234
234.0

In [76]:
#8
def repeat(s,n):
    return s*n

In [ ]:
repeat("no",4)

In [78]:
repeat("yes",0)

''

In [79]:
#9
def total_length(s1,s2):
    return len(s1)+len(s2)
total_length('yes',"no")

5

In [81]:
total_length("yes!!!!","Nooooo")

13